@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #302833;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  background-color: #f8f4e6; }

a {
  color: #2a83a2;
  text-decoration: none; }
  a:visited {
    color: #20627a; }
  a:hover {
    color: #20627a; }
  a:active {
    color: #2f93b6; }

/* Align
------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------*/
.block-center, section .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------*/
.abel, section h2, #pushpoints h3, #whoishe .button-readmore {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, #pushpoints h3, #whoishe .button-readmore {
  text-transform: uppercase; }

/* Header
------------------------------------------------*/
header .main_img {
  width: 100%;
  height: 250px;
  background: url("../img/main_image.jpg");
  background-size: cover;
  background-position: center center; }

@media (min-width: 769px) {
  header .main_img {
    width: 100%;
    height: 500px;
    background: url("../img/main_image.jpg");
    background-size: cover;
    background-position: center center; } }
/* Contents
------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#pushpoints {
  background-color: #b94047; }
  #pushpoints .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #pushpoints h2 {
    color: #f8f4e6;
    margin-bottom: 60px; }
  #pushpoints .pushpoint-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #f8f4e6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #pushpoints h3 {
    color: #2a83a2;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold; }

@media (min-width: 769px) {
  #pushpoints .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #pushpoints .pushpoint-box {
    margin: 0 10px; } }
#whoishe .button-readmore {
  margin: auto;
  text-align: center;
  padding: 5px 0;
  width: 180px;
  display: block;
  color: #FFF;
  font-weight: bold;
  background-color: #2a83a2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 2rem; }

/* Footer
------------------------------------------------------------*/
footer {
  background-color: #b94047;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }

@media (min-width: 769px) {
  #whoishe a:hover {
    background-color: #20627a; } }

/*# sourceMappingURL=style.css.map */
